 #nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

 #footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%
 }

 li{
     float: left;
 }

 a {
     display: block;
     padding: 8px;;
 }

 footer {
     font-size: 13px;
 }

 #google-account{
     max-width: 35px;
     display: block;
     height: auto;
     margin: 0;
 }

 #google-apps{
    max-width: 35px;
    display: block;
    height: auto;
    margin: 0;
}

 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 30%;
     position: relative;
     top: 150px;
 }