 #nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

 li{
     float: left;
 }

  a {
      display: block;
      padding: 8px;
      background-color: #dddddd;
  }

 footer {
     font-size: 13px;
 }

 #google-account{
     max-width: 35px;
     display: block;
     height: auto;
     margin: 0;
 }

 #google-apps{
    max-width: 35px;
    display: block;
    height: auto;
    margin: 0;
}

 #logo {
     margin: auto;
 }